.Container {
    text-align: left;
}
.Container h5 {
    font-size: 18px;
    border-bottom: solid 1px #2bfab7;
    padding-bottom: 5px;
}
.sideNav {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65px;
    margin-top: 10px;
}
.sideNav li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    float: left;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}
.sideNav li:hover {
    transition: 0.15s ease-in-out;
    color: red;
}