.container{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu{
    width: 100%;
}

.navList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 17px;
    font-weight: 600;
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.redes{
    width: 80px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.loginButton{
    display: flex;
    align-items: center;
    width: 300px;
    justify-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.itemMenu{
    color: #FFF;
}

.botonLogin{
    width: 80px;
    border-radius: 10px;
    margin-left: 25px;
}

.logo{
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
    overflow: hidden;
    width: 40%;
}
.logoUp{
    width: 150px;
    height: 80px;
}

@media screen and (max-width: 500px){

.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.menu{
    width: 65%;
}
.logoUp{
    width: 25%;
}
.logo{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    overflow: hidden;
    width: 15%;
}
.navList{
    display: grid;
    grid-template-columns: 20px 150px 70px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 15px;
    justify-content: center;
    
}
.loginButton{
   /*  position: relative;
    float: top;
    margin-top: 0px; */
    margin-top: 10px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10px;

}

.botonLogin{
    margin-left: 0px;
}

.redes{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.redes a{
    margin-left: 4px;
}
}